html {
 font-size: 18px;
 line-height: 1.4;
}

body {
 font-family: Helvetica;
 
}

.container {
 max-width: 960px;
 margin: auto;
}

.flex {
 display: flex;
}

header {
 background: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png') no-repeat ;
 background-repeat: no-repeat;
 background-position: center;
 padding-top: 1rem;
 height: 30rem;
 background-size: cover;
}

nav {
 padding: 1rem 0;
 background-color: cadetblue;
 color: white;
 align-items: center;
 display: flex;
 justify-content: space-between; 
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: .67em 0;
}

nav div span {
 display: flex;
 align-items: center;
}

 nav img {
  height: 1.5rem;
  margin-right: 2rem;
  margin-left: 1rem;
 }

.hidden_menu {
  display: none;
}

.main {
  background-color: white;
  padding: 0.75rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  display: inline-block;
  line-height: 2.4rem;
}

ul {
 margin-right: 1rem;

}

ul li {
 display: inline;
 padding: 0 1em;
}

header .flex {
  justify-content: flex-end;
}

@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
    padding-top: 0;
  }

  nav .container {
    max-width: 100%;
  }

  .main {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .main h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 700px) {
  .menu ul {
    display: none;
  }

  .menu ul.hidden_menu {
    display: block;
  }
}

@media only screen and (max-width: 560px) {
  header div span {
    display: none;
  }

  header {
    background-position: 20%;
    height: 17rem;
  }

  .main {
	width: 100%;
    padding: 0 1rem;
    margin: 9rem auto 0 auto;
    text-align: center;
  }

  .main h1 {
    font-size: 1rem;
  }
}

  .supporting {
  display: flex;
  justify-content: center;
}

 @media only screen and (max-width: 560px) {
  .supporting {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
  }
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

.service img.paper-icon {
  width: 3.5rem;
}

@media only screen and (max-width: 560px) {
  .service {
    height: auto;
    margin: .77rem;
    font-size: .77rem;
  }
}

.title {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
  max-width: 10rem;
}

.information {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.information p {
  padding: 1rem 0;
}

@media only screen and (max-width: 560px) {
  .information {
    width: auto;
  }

 .title .information {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .information p {
    padding: 1rem;
    font-size: .77rem;
  }
}

footer {
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 560px) {
  footer {
    justify-content: center;
  }

  footer span {
    display: none;
  }
}
